<div class="popup-content">
    <h3>Create Admin</h3>
    <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error>{{getErrorMessage('name')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error>{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        
        <div fxLayout fxLayoutAlign="space-between">
            <button mat-stroked-button mat-dialog-close [disabled]="isLoading">Cancel</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">
                <span *ngIf="!isLoading">Create</span>
                <mat-spinner color="accent" *ngIf="isLoading" diameter="20"></mat-spinner>
            </button>
        </div>
    </form>
</div>