@import '../../theme/theme.scss';

mat-card {
    border-top: 3px solid map-get($primary, 700);

    .table-container {
        overflow-x: auto;

        tr.mat-mdc-row {
            cursor: pointer;

            &:hover {
                background-color: map-get($primary, 50) !important;
            }
        }
    }

    .url-text {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        mat-icon {
            font-size: 14px;

            &.mat-icon {
                width: 14px;
                height: 14px;
            }
        }
    }
}