<section id="home">
    <nav>
        <div class="logo">
            <img src="/assets/images/logo.png" alt="Logo">
        </div>
        <div class="nav-links">
            <a href="/support">Support</a>
            <a routerLink="/login" *ngIf="!user">Login</a>
            <a routerLink="/dashboard" *ngIf="user">Dashboard</a>
        </div>
    </nav>
    <section class="qa-section">
        <h5>1. Wat is Docuscreen?</h5>
        <h5>Antwoord:</h5>
        <p>
            Docuscreen is een online platform waarmee u eenvoudig en snel de echtheid van diploma’s kunt verifiëren. 
            Dankzij onze koppeling met DUO bieden wij 100% betrouwbare resultaten.
        </p>
        <h5>2. Hoe werkt de diploma-verificatie?</h5>
        <h5>Antwoord:</h5>
        <p>
            Onze tool verifieert DUO-diploma’s in realtime. U uploadt het diploma of voert een bulkcontrole uit. Binnen 
            enkele seconden krijgt u een betrouwbaar resultaat.
        </p>
        <h5>3. Welke diploma’s kan Docuscreen verifiëren?</h5>
        <h5>Antwoord:</h5>
        <p>
            Wij verifiëren DUO-diploma’s en kunnen deze 100% betrouwbaar controleren. Voor andere diploma’s is aanvullende 
            verificatie mogelijk op aanvraag.
        </p>
        <h5>4. Hoe snel ontvang ik een verificatie?</h5>
        <h5>Antwoord:</h5>
        <p>
            De verificatie wordt direct uitgevoerd. U ontvangt binnen enkele seconden het resultaat, ongeacht of het een individueel 
            diploma of een bulkcontrole betreft.
        </p>
        <h5>5. Hoeveel diploma’s kan ik in één keer verifiëren?</h5>
        <h5>Antwoord:</h5>
        <p>
            U kunt één diploma verifiëren of een bulkcontrole uitvoeren. Met onze schaalbare oplossingen is er geen limiet aan het 
            aantal diploma’s dat u kunt controleren.
        </p>
        <h5>6. Kan ik Docuscreen integreren in mijn eigen systeem?</h5>
        <h5>Antwoord:</h5>
        <p>
            Ja, met onze API kunt u Docuscreen eenvoudig integreren in uw eigen software. Dit zorgt voor een naadloze workflow en 
            volledige controle over uw gegevens.
        </p>
        <h5>7. Wat gebeurt er als een diploma niet geldig blijkt te zijn?</h5>
        <h5>Antwoord:</h5>
        <p>
            Bij een niet-geldig diploma ontvangt u een melding. U kunt vervolgens contact opnemen met de medewerker voor opheldering 
            of aanvullende verificatie.
        </p>
        <h5>8. Wat gebeurt er als mijn requests op zijn?</h5>
        <h5>Antwoord:</h5>
        <p>
            U kunt requests blijven aanschaffen tegen de vaste prijs per request. Gaat u ervan uit dat u aanzienlijk meer requests 
            nodig heeft, dan kunt u overwegen om een upgrade van uw pakket aan te vragen. Dit kan eenvoudig door een e-mail te sturen 
            naar info&#64;docuscreen.nl. Tijdens werkdagen wordt dit, binnen kantoortijden, dezelfde dag nog voor u in orde gemaakt.
        </p>
        <h5>9. Welke pakketten biedt Docuscreen aan?</h5>
        <h5>Antwoord:</h5>
        <p>
            Wij bieden vier pakketten:
            Basic: 10 requests per maand (€ 147,75 p/m)
            Balance: 75 requests per maand (€ 581,25 p/m)
            Advanced: 125 requests per maand (€ 791,50 p/m)
            Custom Pro: Maatwerkpakketten op aanvraag
        </p>
        <h5>10. Hoe veilig zijn mijn gegevens?</h5>
        <h5>Antwoord:</h5>
        <p>
            Uw gegevens worden beschermd met de hoogste beveiligingsstandaarden. Wij zorgen ervoor dat uw data veilig en 
            uitsluitend voor verificatiedoeleinden wordt gebruikt.
        </p>
        <h5>11. Kan ik diploma’s verifiëren buiten DUO?</h5>
        <h5>Antwoord:</h5>
        <p>
            Op dit moment richten wij ons op DUO-diploma’s. Voor andere  Europese diploma’s of kunt u contact opnemen voor 
            maatwerkopties via info&#64;docuscreen.nl
        </p>
        <h5>12. Hoe kan ik contact opnemen voor ondersteuning?</h5>
        <h5>Antwoord:</h5>
        <p>
            U kunt ons bereiken via: <br><br>
            Telefoon: 088 12345678<br>
            E-mail: info&#64;docuscreen.nl<br>
            Adres: Beesdseweg 5, 4104 AW Culemborg
        </p>
    </section>
</section>
